name: cleanup

on:
  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC

jobs:
  cleanup-packages:
    runs-on: ubuntu-latest
    permissions:
      packages: admin

    steps:
      - uses: actions/delete-package-versions@v4
        with: 
          package-name: airgap-webhook
          package-type: container
          min-versions-to-keep: 10